.flex-container{
    display: flex;
    flex-wrap: wrap;
    background: grey;
    justify-content: space-around;
  }
  .flex-container > div{
    margin: 10px;
    font-size: 30px;
    background: #FAF1E6;
    height: 30px;
    width: 30px;
    padding: 20px;
    border-radius: 10px;
  }